/* сброс стилей браузера */
* {
    box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.2;
}

ol { 
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 1.4em;
    list-style: square;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
} 
/* конец кода сброса стилей браузера */


.clear:after {
    content: " ";
    display: table;
    clear: both;
}

.clear {
    zoom: 1;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


header {
    background-color:rgb(88, 12, 12); 
    background-image: linear-gradient(to left, rgb(88, 12, 12), rgb(8,2,50));
    padding-bottom: 30px;
}

header h1 {
    font-size: 3em;
    color: white;
    font-weight: bold;
    padding-top: 30px;
    clear: both;
    padding-left: 10px;
}

nav {
    background-color: rgb(8,2,50);
    border: 1px solid rgb(88, 12, 12);
    border-left: none;
    border-right: none;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav a {
    float: left;
    font-size: .8em;
    color: white;
    font-weight: normal;
    text-decoration: none;
    padding: 10px;
    border-right: 1px dashed rgba(255,255,255,.75);
    transition: all .5s;
}

nav li:last-of-type a {
    border-right: none;
}

nav a:hover {
    background-color: rgb(93,43,78);
}

aside h2 {
    font-size: 1.3em;
    margin-top: 10px;
}

aside h3 {
    font-size: 1.1em;
    margin-top: 15px;
}

aside p, aside li {
    font-size: .75em;
    margin-top: 10px;
}

.main h2 {
    font-size: 2em;
    margin-top: 10px;
}

.main h3 {
    font-size: 1.5em;
    margin-top: 20px;
}
.main p {
    margin-bottom: 15px;
}

footer {
    margin-top: 15px;
    font-size: .8em;
    padding: 10px 10px 30px 10px;
    background-color: black;
    color: rgb(204,204,204);
}

footer a {
    color: white;
}

.pageWrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.columnWrapper {
	float: left;
	width: 80%;
}

.sidebar1 {
    float: left;
    width: 25%;
    padding: 0 20px 0 10px;
}

.main {
    float: right;
    width: 75%;
    padding: 0 20px;
    border-left: dashed 1px rgb(153,153,153);
    border-right: dashed 1px rgb(153,153,153);
}

.sidebar2 {
    float: right;
    width: 20%; 
    padding: 0 10px 0 20px;
}

footer {
    clear: both;
}

nav ul, header h1, footer p, .contentWrapper {
    max-width: 1200px;
    margin: 0 auto; 
}

img {
	max-width: 100%;
}

img.half {
	max-width: 50%;
}

img.left {
	float: left;
	margin: 0 10px 10px 0;
}

img.right {
	float: right;
	margin: 0 0 10px 10px;
}

@media (min-width:481px) and (max-width:768px) {
	.sidebar2 {
		float: none;
		width: auto;
        clear: both;
        border-top: 2px solid black;
        padding-top: 10px;
	}
	.columnWrapper {
		width: auto;
	}
	.main {
		border-right: none;
	}
}

@media (max-width:480px) {
.columnWrapper, .main, .sidebar1, .sidebar2 {
	float: none;
	width: auto;
	}
	.main {
		border: none;
	}
	.sidebar1, .sidebar2 {
		border-top: 2px solid black;
		margin-top: 25px;
		padding-top: 10px;
	}
	header h1 {
		font-size: 1.5em;
	}
	nav {
		text-align: center;
	}
	nav li {
		float: none;
		display: inline-block;
	}
	nav a {
		float: none;
		display: inline-block;
		border: none;
	}
}
